*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
	text-decoration: none;
}

/* for charts */
canvas {
	max-width: 100%;
  }

body {
	margin: 0;
}

 /* Styles */
h3 {
	color: #4c4c54;
	font-size: 1.2em;
	margin-left: 10px;
}

 /* Top line over sections */
 #traffic, .daily-traffic, .mobile-users, .social, #members, .activity, .message-user, #settings {
	border-top: 3px solid #b2b2b2;
	/* width: 85vw; */
	margin: 15px 10px;
 }


/* grid layout */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 'header' 'nav' 'main';
}

.header {
	grid-area: header;
}

main-nav	{
	grid-area: nav;
}

.main {
	grid-area: main;
	grid-template-columns: 100%;
}

/* .widget-container-full, .widget-container-half  {
	 width: 95vw; 
} */

@media (min-width: 768px) {

.grid-container {
	grid-template-columns: 55px 1fr;
	grid-template-areas: "header header" "nav main";
	}
}

.main {
	display: grid;
}

@media (min-width: 768px) {
.main {
	grid-template-columns: 100%;
}
}

@media (min-width: 768px) {
.dashboard-header,
#alert {
	grid-column: 1 / span 1;
}

#traffic, .social  {
	grid-column: 1 / span 1;
	}

#members, .message {
	grid-column: 1 / span 2;
	}

.mobile-chart, .activity, #settings {
	grid-column: 2 / span 1;
	}
}

/* Mobile View 320px */

/* header */

header {
    height: 60px;
    color: white;
    background-color: #7477bf;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

h1 {
    font-size: 1.5rem;
	color: #fff;
	flex-grow: 4;
	margin-left: 15px;
}

.profile {
	margin-top: 15px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.bell-icon {
    width: 20px;
    transition: transform 0.5s ease-in-out;
	position: relative;
}

.bell-icon:hover {
    transform: rotate(360deg);
	cursor: pointer;
}

header img {
    width: 35px;
    border-radius: 50%;
    margin-right: 8px;
}

.header-name {
    font-size: .75em;
   margin-right: 10px;
}

.green-circle {
    width: 8px;
    height: 8px;
    background-color: #81c98f;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    right: 170px;
}

.vertical-line {
    width: 2px;
    background-color: #fff;
    height: 35px;
    margin: 0 10px 0 15px;
}

#notifications-dropdown {
    display: none;
    width: 40vw;
    position: absolute;
    color: #fff;
    right: 1%;
    top: 8vh;
    background-color: #7477bf;
    z-index: 2;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-header {
    border-bottom: solid 1px #bbb;
    background-color: #7477bf;
    position: relative;
    text-align: center;
	width: 40vw;
	padding: 5px 0;
}

.dropdown-header p {
	margin-left: 10px;
	font-weight: 600;
}

.close-btn {
    border: none;
    border-radius: 5px;
	padding: 4px;
    cursor: pointer;
    outline: none;
    background-color: #35396b;
    color: #fff;
    position: absolute;
    top: -150%;
    right: 5%;
}

.close-btn:hover {
    background-color: #3d427c;
}

.notification-message{
    padding: 10px;
    text-align: left;
    background-color: #4f66a1;
	font-size: .75em;
}


/* nav */

.main-nav {
    background-color: #4f66a1;
    text-align: center;
}

.main-nav a {
    text-decoration: none;
}

.nav-icons {
    width: 30px;
    transition: transform 0.5s ease-in-out;
	margin: 10px 15px;
}


/* main */

.dashboard-header {
	width: 100%;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.dashboard-header h3 {
  margin-left: 10px;
}

.dashboard-header-search input {
    border: 1px solid #b2b2b2;
	height: 100%;
	width: 65%;
	border-radius: none;
	position: absolute;
	top: 0px;
	right: 0px;
}

#alert {
    background-color: #4f33f6;
    border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 85vw;
	margin: 0 auto;
}

#alert p {
    color: white;
    font-size: .7em;
	margin: 10px 20px;
	text-align: left;
}

.alert-close {
	cursor: pointer;
}

.traffic-nav {
	display: flex;
}

.traffic-nav-link {
	background: #81c98f;
	border-radius: 40px;
	list-style: none;
	font-weight: 300;
	font-size: 2vw;
	color: #fff;
	padding: 7px 12px;
	margin: 5px;
	cursor: pointer;
}


 /* social */


.social {
	flex-direction: row;
	justify-content: space-around;
}

.social-container{
	justify-content: unset;
	border: 5px solid #d1d1d1;
	text-align: center;
	margin: 10px auto;
	width: 75%;
	border-radius: 15px;
	background-color:#e4e4ed;
	display: flex;
}

.social-icons {
    width: 50px;
    transition: transform 0.5s ease-in-out;
	margin: 10px 15px;
}

.social-text p:nth-child(2) {
	font-size: 2rem;
	margin: 0 0 10px 0;
}

.social-text p:nth-child(1) {
	margin: 10px 0 0 0;
}

  /* members & activity */

 .members-container, 
 .activity-container {
	 text-align: center;
	 margin: 15px;
 } 

 .members-border, 
 .activity-border {
	 border-bottom: solid 1px #bbb;
 } 

 .no-border {
	border-bottom: 0px;
 }

 .members-container img,
 .activity-container img {
	 border-radius: 50%;
 }

 .members-text,
 .members-activity {
	 font-size: 1.25em;
	 font-weight: 600;
	 color: #000;
 }

 .members-activity {
	 font-size: 1em;
	 font-weight: 400;
	 color: #000;
 }

 .members-text p {
	margin: 0;
 }

 .members-text a {
	 font-size: .75em;
	 overflow-wrap: break-word;
 }

 .date {
	 font-size: .85em;
	 font-weight: 500;
	 color: #000;
	 margin-top: 5px;
 }


/* settings & message */

.message {
	display: flex;
	flex-direction: column;
}

input {
	height: 30px;	
	background-color: #f2f5f7;
	margin-bottom: 5px;
	border: 1px #d3dde3 solid;
}

.message input {
	height: 30px;	
	background-color: #f2f5f7;
	margin-bottom: 5px;
	border: 1px #d3dde3 solid;
	border-radius: 5px;
}

textarea{
    height: 100px;
	background-color: #f2f5f7;
	border: 1px #d3dde3 solid;
	border-radius: 5px;
}

.button-primary {
	height: 30px;
	margin: 5px 0 15px;
	background-color: #5d61bf;
	color: #fff;
	border: 1px #d3dde3 solid;
	border-radius: 5px;
	cursor: pointer;
}


/* Toggle */

.switch {
	position: relative;
	width: 50px;
	height: 30px;
	float: right;
  }
  
  .switch input {display:none;}
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #5d61bf;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
	border: solid #d3dde3; 
  }

  .slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
  }
  
  input:checked + .slider {
	background-color: #2ab934;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(55px);
	-ms-transform: translateX(55px);
	transform: translateX(55px);
  }

  /*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: #fff;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider .round {
	border-radius: 34px;
  }
  
  .slider .round:before {
	border-radius: 50%;}

.toggle {
	margin: 0 15px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: .85em;
}


.message-width,
.settings-width,
.time-zone {
width: 95%;
margin: 0 auto;
}

.settings-button{
	display: flex;
	flex-direction: row;
	width: 95%;
	margin: 0 auto;
}

.setting-button {
	height: 30px;
	width: 50%;
	background-color: #5d61bf;
	border: 1px #d3dde3 solid;
	border-radius: 5px;
	cursor: pointer;
}

.save-button {
	margin-right: 10px;
	color: #fff;
}

.cancel-button {
	background-color: #dce3e2;
}

#time-zone {
width: 100%;
background-color: #dce3e2;
border: 1px #d3dde3 solid;
height: 30px;
border-radius: 5px;
margin: 25px auto;
}


/* MQ768 */

@media (min-width: 768px) {

.profile {
	margin-right: 50px;
}

.green-circle {
    right: 245px;
}

/* 768px Navigation */
.main-nav {
	padding-top: 20px;
}

/* 768px Main-header/Dashboard & Search Bar */

.dashboard-header {
	width: 88vw;
}

.dashboard-header-search input{
	width: 75%;
	top: 0px;
	right: 0px;
}

#alert {
	width: 85vw;
	margin-left: 20px;
}

/* 768px Top sections of three graphs and social section */
.daily-traffic, .mobile-users, .social {
	border-top: 3px solid #fff;
	margin: 15px auto;
	/* width: 90vw; */
	}

.traffic-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 25px;
	}

/* 768px Flexbox and boxes around to smaller charts */
.daily-traffic, .mobile-users {
	border: 1px grey solid;
	padding-bottom: 20px;
	}

.daily-traffic h3, .mobile-users h3 {
	margin-left: 10px;
		}

.flex-charts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* width: 85vw; */
	margin-left: 20px;
	}

.flex-social {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}

.social-container {
	padding: 0 10px;
	margin: 0 10px;
	align-items: stretch;
	}

/* 768px New members section */

.members-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.box-1 {
	margin-bottom: 25px;
	margin-top: 10px;
	}

 .box-2 {
	margin-left: auto;
	margin-top: 45px;
	}

.members-text {
	margin-left: 25px;
	margin-top: 45px;
	text-align: left;
	}

/* 768px Recent activity section */

.members-activity {
	text-align: left;
	margin-top: 40px;
	margin-left: 25px;
	}

.members-activity p {
	margin: 3px;
	}

.activity-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	}

.small-arrow {
	height: 25px;
	width: 25px;
	margin-right: 25px;
  	}
}

@media (max-width: 768px) {
.small-arrow {
	display: none;
	}
}

/* 768px Message User section */
@media (max-width: 768px) {

.message {
	margin: 0 auto;
	width: 95%;
	}
	}

/* 768px Setting section */
@media (max-width: 768px) {

.settings-button{
	display: flex;
	flex-direction: row;
	}

.setting-button-save {
	background-color: #5d61bf;
	color: #fff;
	}

.setting-button-cancel {
	background-color: #dce3e2;
	}
}

/* MQ1024 */

@media (min-width: 1024px) {

	.daily-traffic,
	.mobile-users,
	/* .social, */
	#members,
	.activity,
	.message-user,
	#settings {
	   border-top: 3px solid #b2b2b2;
	   width: 50%;
	   margin: 15px auto;
	}
  					
@media (min-width: 1024px) {

/* Flex container */

.flex-1024,
.mq1024 {
	display: flex;
	}

.green-circle {
		right: 223px;
	}

#members, .activity {
	min-width: 50%;
	}
	  
.members-text {
	width: 50%;
}

#members, .activity, .message-user, #settings {
	border-top: 3px solid #b2b2b2;
	margin: 15px auto;
	}

.traffic-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	}
	
.traffic-nav-link {
	font-size: 1vw;
	}

#members, .activity {
	border: solid 1px #bbb;
	padding-left: 10px;
}

.no-border {
	border-bottom: 0px;
}

.members-text a {
	font-size: .75em;
	overflow-wrap: break-word;
}
}











